doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='/javascript/visual.js')
    
  body
div(style='position: relative; left: 0; top: 0;')
      img#main(src='./img/Seattle.png')
      img#img1(src='./img/marker.png')
      img#img2(src='./img/marker.png')
      img#img3(src='./img/marker.png')
      img#img4(src='./img/marker.png')
      img#img5(src='./img/marker.png')
      img#img6(src='./img/marker.png')
      img#img7(src='./img/marker.png')
      img#img8(src='./img/marker.png')
      img#img9(src='./img/marker.png')
      img#img10(src='./img/marker.png')
      img#img11(src='./img/marker.png')
      img#img12(src='./img/marker.png')
      img#img13(src='./img/marker.png')
      img#img14(src='./img/marker.png')
      img#img15(src='./img/marker.png')
      img#img16(src='./img/marker.png')
      img#img17(src='./img/marker.png')
      img#img18(src='./img/marker.png')
      img#img19(src='./img/marker.png')
      img#img20(src='./img/marker.png')
      img#img21(src='./img/marker.png')
      img#img22(src='./img/marker.png')
      img#img23(src='./img/marker.png')
      img#img24(src='./img/marker.png')
      img#img25(src='./img/marker.png')
      img#img26(src='./img/marker.png')
      img#img27(src='./img/marker.png')
      img#img28(src='./img/marker.png')
      img#img29(src='./img/marker.png')
      img#img30(src='./img/marker.png')
      img#img31(src='./img/marker.png')
      img#img32(src='./img/marker.png')
      img#img33(src='./img/marker.png')
      img#img34(src='./img/marker.png')
      img#img35(src='./img/marker.png')
      img#img36(src='./img/marker.png')
      img#img37(src='./img/marker.png')
      img#img38(src='./img/marker.png')
      img#img39(src='./img/marker.png')
      img#img40(src='./img/marker.png')
      img#img41(src='./img/marker.png')
      img#img42(src='./img/marker.png')
      img#img43(src='./img/marker.png')
      img#img44(src='./img/marker.png')
      img#img45(src='./img/marker.png')
      img#img46(src='./img/marker.png')
      img#img47(src='./img/marker.png')
